* {
    margin: 0;
    padding: 0;
}

body {
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav label:hover {
    cursor: pointer;
}

nav input {
    position: absolute;
    left: -9999px;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header div.head {
    flex: 1;
}

header nav {
    height: 50px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    flex: 1;
    text-align: center;
}

header nav div ul {
    padding: 0;
    display: none;
}

header nav input:checked+ul {
    display: flex;
}

div.middle {
    flex: 1;
    display: flex;
}

div.middle nav {
    width: 200px;
    display: flex;
    flex-direction: column;
}

div.middle main {
    flex: 1;
}

div.middle nav ul {
    flex: 1;
}

div.middle nav ul ul {
    padding-left: 2em;
    display: none;
}

div.middle nav input:checked+ul {
    display: list-item;
}

main {
    padding: 10px;
}

main li {
    margin-top: 10px;
}