* {
    margin: 0;
    padding: 0;
}

body {
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    min-height: 100vh;
}

.container {
    display: block;
    margin: 0 auto;
    width: 1000px;
    min-height: 100vh;
}

.container header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.head {
    flex: 1;
}

nav.head {
    height: 50px;
}

nav.head ul {
    display: flex;
}

nav.head ul li {
    flex: 1;
    text-align: center;
}

nav.head div ul {
    padding: 0;
    display: none;
}

nav.head input:checked+ul {
    display: flex;
}

div.contains {
    display: flex;
}

div.contains nav {
    width: 200px;
}

div.contains div.main {
    flex: 1;
}

nav.side>ul {
    padding-left: 0;
}

nav.side ul ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 2em;
}

nav label:hover {
    cursor: pointer;
}

nav input {
    position: absolute;
    left: -500px;
}

nav.side ul li ul {
    display: none;
}

nav.side input:checked+ul {
    display: list-item;
}