/* ボタン設定 */

.buttons {
	margin: 10px auto;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 2px 10px;
	color: inherit;
	border: 1px solid silver;
	border-radius: 5px;
	text-decoration: none;
}

.button.main {
	color: red;
	border: 1px solid red;
}

.button.main .icon:before {
	border-color: red;
}
.button.main .icon:after {
	background: red;
}

.button + .button {
	margin-left: 1em;
}

.button a:link,
.button a:visited,
.button a:hover,
.button a:active {
	text-decoration: none;
	color: inherit;
}

/* http://www.uiplayground.in/css3-icons/ */

.icon {
	top: 2px;
	left: 0px;
	height: 15px;
	width: 15px;
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.search:before,
.search:after {
	content: "";
	display: block;
	position: absolute;
}

.search:before {
	top: 1px;
	left: 0px;
	height: 10px;
	width: 10px;
	border: 1px black solid;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
}

.search:after {
	top: 10px;
	left: 12px;
	height: 6px;
	width: 1px;
	background: black;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
