/* 一覧表示 設定 */

table.list {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
}

table.list tr {
    height: 48px;
}

table.list .sticky {
    top: 100px;
    background-color: lavender;
    z-index: 100;
}

table.list th, table.list td {
    padding: 5px;
}

table.list th+th, table.list td+td {
    border-left: 1px solid silver;
}

table.list td {
    border-bottom: 1px solid silver;
}

table.list tr:nth-of-type(even) {
    background-color: whitesmoke;
}

.pagers {
    margin: 10px auto;
    text-align: right;
}

.pagers>* {
    display: inline-block;
    padding: 1px 5px;
    color: inherit;
    font-size: 0.7em;
}

.pagers>span {
    padding: 0;
}

.pager {
    border: 1px solid silver;
    text-decoration: none;
}
