.tabarea {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 5px;
}

.tabarea .tab {
	display: none;
	flex: 1;
	padding: 5px;
	border: 2px solid;
}

.tabarea li {
	display: inline-block;
	width: 120px;
	height: 24px;
	text-align: center;
}

.tabarea label {
	display: inline-block;
	width: 100%;
	border-width: 1px 1px 0px 1px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.tabarea > input {
	position: absolute;
	left: -9999px;
}

.tabarea > input:checked + .tab {
	display: block;
}
