@import url("entire.css");
@import url("layout.css");
@import url("list.css");
@import url("button.css");
@import url("tab.css");
code {
    background: pink;
    color: black;
    white-space: pre-wrap;
}

h2 {
    float: left;
}
h2 + * {
    text-align: right;
}
.button {
    background: white;
    color: #ed3232;
    border: 1px solid #ed3232;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
}
.button:hover {
    background: #ed3232;
    color: white;
}
details {
    margin-bottom: 1em;
}
details > :not(summary) {
    margin-left: 10px;
}

code {
    background: pink;
    color: black;
    white-space: pre-wrap;
}

.strong {
    font-weight: bold;
    color: red;
}

code {
    display: block;
    white-space: pre;
}

main ol li {
    margin-top: 1em;
}


code {
    background: pink;
    color: black;
    white-space: pre-wrap;
}
