<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="../">
	<link rel="stylesheet" type="text/css" href="assets/style.css" />
</head>

<body>
	<noscript>
		<p>JavaScriptがサポートされていないため表示できません。</p>
	</noscript>
	<header></header>
	<main style="display: none;">
		<div id="mainLeft"></div>
		<div id="mainCenter">
			<h2>Nuxt.js(version.2)</h2>
			<div>
				<a class="button" href="javascript:openclose(true);">全てを開く</a>
				<a class="button" href="javascript:openclose(false);">全てを閉じる</a>
			</div>

			<details open>
				<summary>要素がz-indexなどで重なった際のイベント停止</summary>
				<code>&lt;div class="overlay" @click="clickCancel()"&gt;
	&lt;div class="window" <span class="strong">@click.stop</span>&gt;
	&lt;/div&gt;
&lt;/div&gt;</code>
						<p><a href="https://v2.ja.vuejs.org/v2/guide/events#%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88%E4%BF%AE%E9%A3%BE%E5%AD%90">公式ページ</a></p>
					</details>

					<details open>
						<summary>子要素にスタイルを適用</summary>
						<code>:deep(p) {
	text-indent: 1em;
}</code>
			</details>

			<details open>
				<summary>isDevの取得</summary>
				<code>export default Vue.extend({
	computed: {
		isDev() {
			return this.$root.context.isDev;
		},
	},
});</code>
			</details>

			<details open>
				<summary>titleにfetchで取得した値を設定する</summary>
				<code>head: function() {
	return {
		title:`${this.$store.state.user.nickname}さんのプロフィール`
	}
},
async fetch({ store }) {
	await store.dispatch('user/getUser')
}</code>
			</details>

			<details open>
				<summary>リファラ</summary>
				<code>export default Vue.extend({
	beforeRouteEnter(to, from, next) {
		next(vm => {
			vm.$router.referrer = from.path;
		});
	},
	mounted() {
		console.log(this.$router.referrer);
	},
});</code>
			</details>

			<details open>
				<summary>nuxt内の他ページに遷移</summary>
				<code>&lt;router-link :to="変数名"&gt;foo&lt;/router-link&gt;
&lt;router-link to="実URL"&gt;bar&lt;/router-link&gt;
this.$router.push(アプリ内URL);
this.$router.go(-1);</code>
			</details>

			<details open>
				<summary>URLなどを知りたい</summary>
				<code>console.log(this.$route.fullPath);
console.log(this.$route.name);
console.log(this.$route.params);
console.log(this.$route.path);
console.log(this.$route.query);</code>
			</details>

			<details open>
				<summary>親コンポーネントから子コンポーネントのmethodを呼ぶ</summary>
				<br>親コンポーネント<code>&lt;template&gt;
	&lt;ChildComponent ref="child1" /&gt;
&lt;/template&gt;
&lt;script&gt;
	import Vue from 'vue';
	export default Vue.extend({
		methods: {
			parent_method() {
				this.$refs.child1.child_method().then(function (data) {
					console.log(data);
				});
			},
		},
	});
&lt;/script&gt;</code>
						<br>子コンポーネント<code>&lt;script&gt;
import Vue from 'vue';
export default Vue.extend({
	methods: {
		child_method() { console.log('child_method'); return { id: 111, name: 'hehe' }; },
	},
});
&lt;/script&gt;</code>
			</details>

			<details open>
				<summary>子コンポーネントから親コンポーネントへ値を渡す</summary>
				<br>親コンポーネント<code>&lt;template&gt;
	&lt;ChildComponent :childID.sync="parentID" :childPW.sync="parentPW" /&gt;
&lt;/template&gt;
&lt;script&gt;
	import Vue from 'vue';
	export default Vue.extend({
		data() {
			return {
				parentID: '',
				parentPW: '',
			};
		},
	});
&lt;/script&gt;</code>
				<br>子コンポーネント<code>&lt;template&gt;
	&lt;div&gt;
		&lt;input type="text" v-model="innerID" @input="onChangeID($event)" /&gt;
		&lt;input type="text" v-model="innerPW" @input="onChangePW($event)" /&gt;
	&lt;/div&gt;
&lt;/template&gt;
						
&lt;script&gt;
import Vue from 'vue';
export default Vue.extend({
	props: {
		childID: {
			type: String,
			required: true,
		},
		childPW: {
			type: String,
			required: true,
		},
	},
	data() {
		return {
			innerID: '',
			innerPW: '',
		};
	},
	mounted() {
		this.innerID = this.childID;
		this.innerPW = this.childPW;
	},
	methods: {
		onChangeID(e) {
			this.$emit('update:parentID', e.target.value);
		},
		onChangePW(e) {
			this.$emit('update:parentPW', e.target.value);
		}
	},
});
&lt;/script&gt;</code>
			</details>

			<details open>
				<summary>子コンポーネントから親コンポーネントのイベントを呼び出す</summary>
				<br>親コンポーネント<code>&lt;template&gt;
	&lt;ChildComponent @kickParent="kickParentFunction()" /&gt;
&lt;/template&gt;
&lt;script&gt;
	import Vue from 'vue';
	export default Vue.extend({
		methods: {
			kickParentFunction() {
				console.log('called kickParentFunction!!!');
			},
		},	
	});
&lt;/script&gt;</code>
				<br>子コンポーネント<code>&lt;template&gt;
	&lt;div&gt;
		&lt;a @click="kickChild()"&gt;kick&lt;/a&gt;
	&lt;/div&gt;
&lt;/template&gt;
						
&lt;script&gt;
import Vue from 'vue';
export default Vue.extend({
	methods: {
		kickChild() {
			this.$emit('kickParent');
		},
	},
});
&lt;/script&gt;</code>
			</details>

			<details open>
				<summary>特定のvueファイルでだけJavaScriptを読み込みたい</summary>
				<code>export default Vue.extend({
head() {
	return {
		script: [
			{
				src: 'https://aaa.com/bbb.ccc.js',
				body: true,
				defer: true,
				hid: 'abc',
				callback: () => {
					console.log('abc loaded');
				},
			},
		],
	};
},</code>
			</details>

			<details open>
				<summary>DOMに直接アクセス</summary>
				<code>this.$el</code>
				<code>this.$refs</code>
			</details>

			<details open>
				<summary>複数を同時watch</summary>
				<code>created() {
	this.$watch(
		() => [this.$data.text1, this.$data.text2],
		(value, oldValue) => {
			console.log('[text1, text2] change:', oldValue, '->', value);
		}
	);
}</code>
			</details>

			<details open>
				<summary>DTOの中身をwatch</summary>
				<code>watch: {
	'dto.value': function (newValue, oldValue) {
		console.log(newValue);
	},
},</code>
			</details>

			<details open>
				<summary>v-for構文</summary>
				<code>v-for="(val, key) in ぐるぐるするやつでthisは不要" :key="key" :value="val"</code>
			</details>

			<details open>
				<summary>シンプルなプロジェクトを作成する</summary>
				<p>https://nuxtjs.org/ja/docs/get-started/installation/を参照した</p>
				<code>echo '{"name": "my-app","scripts": {"dev": "nuxt","build": "nuxt build","generate": "nuxt generate","start": "nuxt start"}}' &gt; package.json
yarn add nuxt@2.15
mkdir pages
echo '&lt;template&gt;&lt;h1&gt;Hello world!&lt;/h1&gt;&lt;/template&gt;' &gt; pages/index.vue
yarn dev</code>
				<p>上記アプリケーションは <strong><a href="http://localhost:3000/" target="_blank">http://localhost:3000 </a></strong> で動作しています。</p>
			</details>

			<details open>
				<summary>変数を出力する際にエスケープしない</summary>
				<code>v-html</code>
			</details>

			<details open>
				<summary>v-htmlで生成された要素にもスタイルを適用</summary>
				<code>&lt;style scoped&gt;
	:deep(.myclass) {
	  font-size: 3rem;
	}
&lt;/style&gt;</code>
			</details>

			<details open>
				<summary>バージョンを指定してyarnをインストール</summary>
				<code>$ npm install -g yarn@[version]</code>
			</details>

			<details open>
				<summary>ENOLOCAL エラー</summary>
				<p> 原因：<br /> package-lock.json で指定されたモジュールがローカルの node_modules 以下に存在しない。 </p>
				<p> 対処法：<br /> package-lock.json を削除して npm モジュールを再インストールする。
					<code>$ rm package-lock.json
$ npm install</code>
				</p>
			</details>
		</div>
		<div id="mainRight"></div>
	</main>
	<footer></footer>
</body>
<script src="assets/script.js"></script>

</html>